body{font-family: Arial, sans-serif;color: #555;font-size: 11px;}
.mT10{margin-top:10px;}
.buying-power{margin: 10px 0 0 0;}
.bold{font-weight:bold;}
.d-block{display:block;}
.green-amount{
	color:#007236;
	font-weight:bold;
}
.button, .white.button:hover {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #0B6CD4 0%, #0251A7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0B6CD4), color-stop(100%,#0251A7));
	background: -webkit-linear-gradient(top, #0B6CD4 0%,#0251A7 100%);
	background: -o-linear-gradient(top, #0B6CD4 0%,#0251A7 100%);
	background: -ms-linear-gradient(top, #0B6CD4 0%,#0251A7 100%);
	background: linear-gradient(top, #0B6CD4 0%,#0251A7 100%);
	background: #0B6CD4 url(../i/global/button-gradient.png) 0 center repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b6cd4', endColorstr='#0251a7',GradientType=0 );
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	border-radius: 50em;
	-moz-border-radius: 50em;
	-webkit-border-radius: 50em;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
	padding: 5px 16px;
	line-height: normal;
	text-align: center;
}
.white.button {
	background: #FFF;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
	color: #005ABB;
	border: 1px solid #E1E1E1;
}
.small, .small:visited {
	font-size: 11px;
	line-height: 12px;
}
.gauge-bg{
	background-image:url(images/gauge-bg.png);
	background-repeat:no-repeat;
	width:479px;
	padding-top: 0px;
	padding: 4px;
	position: relative;
}
.gauge-bg img{height:25px;}
.gauge-bar{width:0;}
.gauge-nums{padding:0;margin-left:41px;width:355px;display:inline-block;text-align:justify;}
.gauge-nums li {
    display:inline-block;
    list-style:none;
    margin: -11px 0 0 0;
    text-align:center;
    font-size: 10px;
    font-weight: bold;
	width:10%;
}
.gauge-nums li span{
    display:block;    
    font-weight: normal;
    padding-bottom: 2px;
}
.gauge-error{color:red;margin-top:35px;}
#value{
	display:block;
	margin-top:40px;
}
.gauge-bar-red{
	left:16px;
	position:absolute;
}
.gauge-front-blue{display:none;}
.stretcher {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
/* small gauge */

.small-gauge .gauge-bg{
	background-size:250px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
src='images/gauge-bg.png',
sizingMethod='scale');

	-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
src='images/gauge-bg.png',
sizingMethod='scale');
	width:250px;
}
.small-gauge .gauge-bg img{height:14px;}
.small-gauge .gauge-nums{margin-left:18px;}
.small-gauge .gauge-nums li{font-size:9px;margin:-11px -13px 0 0;}